.logo{
    margin: 0 auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    left: 10px;
    img{
        max-width: 100%;
    }
}
.login_box input{
    color:#333;
    width: 100%;
}
.login_box{
    width: 100%;
    max-width: 520px;
    margin: 0 auto;
    .form{
        padding-top: 20px;
        label{
            font-size: 16px;
            width: 20%;
            font-weight: 300;
            text-align: right;
            padding-right: 10px;
            margin-bottom: 15px;
        }
        input{
            width: 80%;
            font-size: 14px;
            margin-bottom: 15px;
            outline: none;
            padding: 2px 5px;
            box-sizing: border-box;
        }
        button{
            outline: none;
        }
    }
}
.modal-open .modal.fade{
    opacity: 1;
    .modal-dialog{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition:opacity .3s ease-out;
        margin: 0;
        max-width: 100%;
        min-width: 300px;
        .modal-body{
            word-break: break-word;
        }
        .modal-header .close{
            margin-top: -25px;
        }
    }
}
#root.btn{
    outline: none;
}
body{
    .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
        outline: none;
    }
}
